################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OmnitakSupportHub/v17
/.gitignore
/OmnitakSupportHub/Services/EmailService.cs
/OmnitakSupportHub/appsettings.json
/OmnitakSupportHub/appsettings.json
/OmnitakSupportHub/Services/EmailService.cs
/appsettings.Development.json
/secrets.json

