@model OmnitakSupportHub.Models.ITStaff

<h2>Create IT Staff</h2>
<form asp-action="Create">
    <input asp-for="Name" placeholder="Name" /><br />
    <input asp-for="Specialization" placeholder="Specialization" /><br />
    <button type="submit">Create</button>
</form>
